<div class="jumbotron">
  <div class="container">
    <h1>ESTE ES EL SITIO DE CHRISTIAN</h1>
    <h2>PONGAN ATENCIÓN</h2>
    <a href="http://facebook.com" class="btn btn-default">
      <span class="glyphicon glyphicon-fire" style="font-size: 30px; color: #bc7005"></span>
      Visita mi perfil
    </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1 style="display:inline">Example page header</h1>
        <span class="label label-default">Default</span>
      </div>
      <a href="http://cfe.gob.mx/paginas/Home.aspx" target="_blank">Actual trabajo</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laudantium nemo nobis officia voluptates voluptatibus. Aliquam architecto assumenda facilis illum inventore modi perferendis tempora tenetur voluptatem! Deserunt inventore veniam voluptatem.</p>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>Example page header</h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laudantium nemo nobis officia voluptates voluptatibus. Aliquam architecto assumenda facilis illum inventore modi perferendis tempora tenetur voluptatem! Deserunt inventore veniam voluptatem.</p>
    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>Example page header</h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laudantium nemo nobis officia voluptates voluptatibus. Aliquam architecto assumenda facilis illum inventore modi perferendis tempora tenetur voluptatem! Deserunt inventore veniam voluptatem.</p>

      <hr>
      <br>
      <img src="http://cdn.expansion.mx/media/2014/06/18/cfe.jpg" class="img-responsive">
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ol>
    </div>
  </div>
</div>
