<div class="jumbotron">
  <div class="container">
    <h1>GUANAJUATO, GTO</h1>
    <h2>CHRISTIAN NAYELI</h2>
    <a href="http://facebook.com" class="btn btn-default">
      <span class="glyphicon glyphicon-fire" style="font-size: 30px; color: #bc7005"></span>
      Visita mi perfil
    </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1 style="display:inline">Geografìa</h1>
        <span class="label label-default">Default</span>
      </div>
      <a href="http://www.guanajuato.mx/gtomx/" target="_blank">Hecha un vistazo de lo bello que es Guanajuato</a>
      <p>Guanajuato es uno de los treinta y un estados que, junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.</p>
      <p>Limita al oeste con el estado de Jalisco, al norte con los estados de Zacatecas y San Luis Potosí, al este con el estado de Querétaro, y al sur el estado de Michoacán. Tiene una extensión territorial de 30.608 km². Por esta extensión ocupa el vigésimo segundo lugar entre las entidades del país. Si se compara su extensión con la de otras entidades, Guanajuato cabe ocho veces en Chihuahua y es siete veces más grande que Tlaxcala.</p>
      <hr>
      <br>
      <img src="http://www.visitmexico.com/work/models/VisitMexico30/WebPage/QUE_VER/photoEscudo_QUE_VER_queverGDE.jpg" class="img-responsive">

    </div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>Clima</h1>
      </div>
      <p>Las condiciones climáticas del estado están determinadas por la latitud, lejanía del mar, los efectos de las masas de aires polares, así como de los fenómenos de condensación orográficas, que se desarrollan en las laderas de las montañas y de los contrastes de altitud entre valles, bajíos y serranías. Geográficamente se distinguen tres zonas climáticas bien definidas en el estado. El clima semiseco corresponde la zona del altiplano; el templado, a las partes medias y altas de las serranías y el semicálido, predomina en toda la zona de El Bajío.</p>
      <hr>
      <img src="http://bonitoleon.com/wp-content/uploads/2017/01/05.jpg" class="img-responsive">
    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h1>Turismo</h1>
      </div>
      <p>Guanajuato es conocido como el destino turístico colonial más importante del país y tiene varias «joyas coloniales»9 y belleza arquitectónica además de zonas arqueológicas y centros de comercio y negocios. Además cuenta con 50 hermosos lugares conocidos también como Las 50 Maravillas de Guanajuato.</p>
      <hr>
      <br>
      <img src="http://images.bestday.com.mx/_Lib/Images/Bestday/Guanajuato/NIGH_Fachada.jpg" class="img-responsive">
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ol>
    </div>
  </div>
</div>
